html, body {
    width: 100%;
    /* height: 100%; */
    padding: 1%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav form {
    margin: 5px;
}

.logout {
    margin: 5px;
}

.newgroupchat{
    float: right;
}

.formnewgroupchat{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* padding-top: 5%; */
    background-color: rgba(61, 61, 61, 0.204);
    display: none;  
}

#list_users_to_group{
    min-height: 40vh;
}

.photo-profile {
    /* border-radius: 10%; */
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.div-allgroups > a, .div-allchats > a, .div-allfriends > a {
    text-decoration: none;
}

.error {
    color: red;
}
